#menu-0 .navbar-toggler {
  color: #000;
}
#header4-1 H1 {
  text-align: left;
  color: #000000;
}
#slider-2 H2 {
  color: #d9534f;
}
#slider-3 H2 {
  color: #d9534f;
}
#slider2-5 H2 {
  color: #fbfbfb;
}
